<section class="tf-section pricing-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row"> 
            <div class="col-md-12">
                <div class="tf-title center mb40" data-aos="fade-up" data-aos-duration="800">
                    <h2 class="title">
                        Simple, Transparent Pricing
                    </h2>
                    <p class="maincontent">Pricing to fit the needs of any company size</p>
                </div>
  
                <ul class="nav nav-tabs">
                    <li class="active"><a class="active"  data-toggle="tab" href="#monthly">Monthly</a></li>
                    <li><a data-toggle="tab" href="#quarterly">Quarterly <span class="price-off">Save 15% </span></a></li>
                    <li><a data-toggle="tab"  href="#yearly">Yearly <span class="price-off">Save 25% </span></a></li>
                </ul>
  
                <div class="toggle-switch-wrap">
                    <span>INR</span>
                    <label class="switch toggle-switch">
                        <input type="checkbox" class="Pricecheckbox" style="line-height: normal;">
                        <span class="slider"></span>
                    </label>
                    <span>USD</span>
                </div>
            </div>
            <div class="tab-content">
                <div class="col-md-12 tab-pane fade in active show" id="monthly">
                    <div class="row " >
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Starter</h3>
                                <p class="pricing-col-price Monthly-Price-Starter"> 2333 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for Startups and Small Companies</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 7 Requests Monthly</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 48 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Include Digital Graphics Design</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 2 Revisions</span>
                                    </li>
                                </ul>
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.StarterMonthly %>">
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
  
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Basic</h3>
                                <p class="pricing-col-price Monthly-Price-Basic">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for medium-size businesses to larger businesses</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 1 Request Daily</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 24 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Include Digital Graphic Design & Motion Video</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 4 Revisions</span>
                                    </li>

                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Upto 5 Motion Videos Monthly</span>
                                    </li>
                                </ul>
    
                            <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.BasicMonthly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
  
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Plus</h3>
                                <p class="pricing-col-price Monthly-Price-Plus">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for larger and enterprise companies</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span>Upto 2 Requests Daily</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 24 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span>Includes Digital Graphics Design & Motion Video</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Revisions</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Motion Videos</span>
                                    </li>
                                </ul>
  
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.PlusMonthly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
                      
                    </div>
                </div> 
                <div id="quarterly" class="col-md-12 tab-pane fade">
                    <div class="row " >
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Starter</h3>
                                <p class="pricing-col-price Monthly-Price-Starter text-decoration">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-price Quarterly-Price-Starter">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for Startups and Small Companies</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 7 Requests Monthly</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 48 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Include Digital Graphics Design</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 2 Revisions</span>
                                    </li>
                                </ul>
    
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.StarterQuarterly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Basic</h3>
                                <p class="pricing-col-price Monthly-Price-Basic text-decoration">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-price Quarterly-Price-Basic">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for medium-size businesses to larger businesses</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 1 Request Daily</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 24 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Include Digital Graphic Design & Motion Video</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 4 Revisions</span>
                                    </li>

                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Upto 5 Motion Videos Monthly</span>
                                    </li>
                                </ul>
    
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.BasicQuarterly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
  
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Plus</h3>
                                <p class="pricing-col-price Monthly-Price-Plus text-decoration">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-price Quarterly-Price-Plus">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for larger and enterprise companies</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span>Upto 2 Requests Daily</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 24 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span>Includes Digital Graphics Design & Motion Video</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Revisions</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Motion Videos</span>
                                    </li>
                                </ul>
  
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.PlusQuarterly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div id="yearly" class="col-md-12 tab-pane fade">
                    <div class="row " >
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Starter</h3>
                                <p class="pricing-col-price Monthly-Price-Starter text-decoration">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-price Yearly-Price-Starter">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for Startups and Small Companies</p>
    
                               <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 7 Requests Monthly</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 48 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Include Digital Graphics Design</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 2 Revisions</span>
                                    </li>
                                </ul>
    
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.StarterYearly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
  
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Basic</h3>
                                <p class="pricing-col-price Monthly-Price-Basic text-decoration">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-price Yearly-Price-Basic" >3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for medium-size businesses to larger businesses</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 1 Request Daily</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 24 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Include Digital Graphic Design & Motion Video</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 4 Revisions</span>
                                    </li>

                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Upto 5 Motion Videos Monthly</span>
                                    </li>
                                </ul>
    
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.BasicYearly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div>
                        <div class="col-md-4 pricing-col">
                            <div class="pricing-col-inner">
                                <h3 class="pricing-col-heading">Plus</h3>
                                <p class="pricing-col-price Monthly-Price-Plus text-decoration">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-price Yearly-Price-Plus">3449 <span>INR/ month</span></p>
                                <p class="pricing-col-text">Ideal for larger and enterprise companies</p>
    
                                <ul class="pricing-col-list">
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span>Upto 2 Requests Daily</span> 
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Brands</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> 24 Hours Output</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span>Includes Digital Graphics Design & Motion Video</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Revisions</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Motion Videos</span>
                                    </li>
                                    <li class="pricing-col-list-single">
                                        <i class="fa fa-check" aria-hidden="true"></i> <span> Unlimited Dedicated Designers</span>
                                    </li>
                                </ul>
    
                                <form action="/create-checkout-session" method="post">
                                    <input hidden name="plan" id="" value="<%= plans.PlusYearly %>"> 
                                <button class="pricing-col-btn tf-button style1">Select Plan</button>
                            </form>
                            </div>
                        </div> 
                    </div>
                  </div>
            </div>
            
        </div>
    </div>
  </section>
 
