<!DOCTYPE html>
<html lang="en">

<head>
 
 
  <title>Graphic Design Blog | Learn Promotions through Graphic Design - MonkeySingh</title>
  <meta name="description" content="Read and learn graphic design, logo, promote your business and more with MonkeySingh. We are the best Graphic Design Company based in India." />
 
</head>

<body>
  <div class="blog-list"> 
  <%- include("partials/primaryHeader.ejs") %>
  <section class="tf-section three_step">
    <div class="overlay"></div>
    <div class="container">
    </div>
    </section>
  <section class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="breadcrumbs" data-aos="zoom-in" data-aos-duration="800">
                        <h3>Blogs</h3>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <span class="icon">
                                    <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.9375 1.375L4.0625 4.5L0.9375 7.625" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                <span>Blog List</span>
                            </li>
                        </ul>
                    </div>            
            </div>
        </div>
    </div>
</section>
 
 
 
<section class="tf-section tf-blog pt60">
  <div class="container">
      <div class="row"> 
          <div class="side-bar">
    <% blogPostArray.forEach(blog=> { %>
              <div class="grid-box-style2" data-aos="fade-up" data-aos-duration="800">
                  <div class="image">
                      <img src="<%=blog.image%>" alt="">
                  </div>
                  <div class="content">
                      <a href="javascript:void(0);" class="tag">New</a>
                      <h5 class="title"><a href="/blogs/<%=blog.urlTitle%>"><%= blog.title %></a></h5>
                      <p><%= blog.metaDescription %></p>
                  </div>
                  <a href="/blogs/<%=blog.urlTitle%>" class="tf-button style1">
                    Read more
                  </a>
              </div>
            <% }) %>
              
              <!-- <ul class="panigation justify-content-start" data-aos="fade-up" data-aos-duration="800">
                  <li>
                      <a href="blog-list.html#" class="ml0">
                          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M6.5 1L1.5 6L6.5 11" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                      </a>
                  </li>
                  <li>
                      <a href="blog-list.html#" class="active">
                          1
                      </a>
                  </li>
                  <li>
                      <a href="blog-list.html#">
                          2
                      </a>
                  </li>
                  <li>
                      <a href="blog-list.html#">
                          3
                      </a>
                  </li>
                  <li>
                      <a href="blog-list.html#">
                          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M1.5 1L6.5 6L1.5 11" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>
                      </a>
                  </li>
              </ul> -->
          </div> 
          <article class="article">
              <!-- <form action="blog-list.html#" class="form-seach mb33">
                  <input type="text" placeholder="Search...">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.0008 18.9998L13.8038 13.8028M13.8038 13.8028C15.2104 12.3962 16.0006 10.4885 16.0006 8.49931C16.0006 6.51011 15.2104 4.60238 13.8038 3.19581C12.3972 1.78923 10.4895 0.999023 8.50028 0.999023C6.51108 0.999023 4.60336 1.78923 3.19678 3.19581C1.79021 4.60238 1 6.51011 1 8.49931C1 10.4885 1.79021 12.3962 3.19678 13.8028C4.60336 15.2094 6.51108 15.9996 8.50028 15.9996C10.4895 15.9996 12.3972 15.2094 13.8038 13.8028V13.8028Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                            
              </form> -->
              <!-- <div class="widget">
                  <h6 class="widget-title-st2">
                      Categories
                  </h6>
                  <ul class="widget-category">
    

            <li>
            <a href="blog-details.html">Metaverse  </a>

            </li>
                       
                  </ul>
              </div> -->

              <div class="widget mb33">
                  <h6 class="widget-title-st2">
                      Recent Posts
                  </h6>
                  <ul class="widget-recenpost">
                <% blogPostArray.forEach(blog=> { %>

                      <li>
                          <div class="recent-posts">
                              <div class="image">
                                  <img src="<%=blog.image%>" alt="">
                              </div>
                              <div class="content">
                                  <a href="'/blogs/<%=blog.urlTitle%>'" class="date">
                                      <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M2.9375 1.25V2.5625M9.0625 1.25V2.5625M0.75 10.4375V3.875C0.75 3.5269 0.888281 3.19306 1.13442 2.94692C1.38056 2.70078 1.7144 2.5625 2.0625 2.5625H9.9375C10.2856 2.5625 10.6194 2.70078 10.8656 2.94692C11.1117 3.19306 11.25 3.5269 11.25 3.875V10.4375M0.75 10.4375C0.75 10.7856 0.888281 11.1194 1.13442 11.3656C1.38056 11.6117 1.7144 11.75 2.0625 11.75H9.9375C10.2856 11.75 10.6194 11.6117 10.8656 11.3656C11.1117 11.1194 11.25 10.7856 11.25 10.4375M0.75 10.4375V6.0625C0.75 5.7144 0.888281 5.38056 1.13442 5.13442C1.38056 4.88828 1.7144 4.75 2.0625 4.75H9.9375C10.2856 4.75 10.6194 4.88828 10.8656 5.13442C11.1117 5.38056 11.25 5.7144 11.25 6.0625V10.4375" stroke="#798DA3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>                                                
                                      <span><%=blog.date%> </span>
                                  </a>
                                  <a href="'/blogs/<%=blog.urlTitle%>'" class="title"><%= blog.title%></a>
                              </div>
                          </div>
                      </li>
            <% }) %>
                    
                  </ul>
              </div>

              <div class="widget mb22">
                  <h6 class="widget-title-st2">
                      Popular Tags
                  </h6>
                  <ul class="widget-tag mr-10">
                      <li> 
                          <a href="javascript:void(0)">Cover Art</a>
                      </li> 
                      <li> 
                          <a href="javascript:void(0)">Content Writing</a>
                      </li> 
                      <li> 
                          <a href="javascript:void(0)">Animated Logos</a>
                      </li> 
                      <li> 
                          <a href="javascript:void(0)">Advertising</a>
                      </li> 
                      <li> 
                          <a href="javascript:void(0)">Channel Marketing</a>
                      </li> 
                      <li> 
                          <a href="javascript:void(0)">Food Industry</a>
                      </li> 
                      <li> 
                          <a href="javascript:void(0)">Graphic Design</a>
                      </li> 
                  </ul>
              </div>

             
          </article>
      </div>
  </div>
</section>

  <%- include("partials/footer.ejs") %>
</div>

</body>

</html>